{% extends "_base.html" %}

{% block content %}

    <section id="banner">
        <i class="icon fa-spinner"></i>
        <h2>This is a web page for mengjin</h2>
        <p>要回匹村了呢</p>
    </section>
<section id="one" class="wrapper style1">
    <div class="inner">
        <article class="feature left">
            <span class="image"><img src="/static/images/pic02.jpg" alt="" /></span>
            <div class="content">
                <h2>LinkedIn is coming soon.</h2>
                <p></p>
            </div>
        </article>
        <article class="feature right">
            <span class="image"><img src="/static/images/pic01.jpg" alt="" /></span>
            <div class="content">
                <h2>Best luck for you</h2>
                <p></p>
            </div>
        </article>
        <article class="feature left">
            <span class="image"><img src="/static/images/pic03.jpg" alt="" /></span>
            <div class="content">
                <h2>CC做完点赞!(居然支持中文)</h2>
                <p></p>
            </div>
        </article>
        <article class="feature right">
            <span class="image"><img src="/static/images/pic04.jpg" alt="" /></span>
            <div class="content">
                <h2>Tomorrow is Monday and hopes good news from LinkedIn.</h2>
                <p></p>
            </div>
        </article>
        <article class="feature left">
            <span class="image"><img src="/static/images/pic05.jpg" alt="" /></span>
            <div class="content">
                <h2>果然有好消息!大赞!</h2>
                <p></p>
            </div>
        </article>
        <article class="feature right">
            <span class="image"><img src="/static/images/pic06.jpg" alt="" /></span>
            <div class="content">
                <h2>Good news from HR after thanksgiving.</h2>
                <p></p>
            </div>
        </article>
        <article class="feature left">
            <span class="image"><img src="/static/images/pic07.jpg" alt="" /></span>
            <div class="content">
                <h2>Shenye baofu shehui xilie</h2>
                <p></p>
            </div>
        </article>
        <article class="feature right">
            <span class="image"><img src="/static/images/pic08.jpg" alt="" /></span>
            <div class="content">
                <h2>Recently becomes much mengmengda.</h2>
                <p></p>
            </div>
        </article>
        <article class="feature left">
            <span class="image"><img src="/static/images/pic09.jpg" alt="" /></span>
            <div class="content">
                <h2>Good luck to Friday's matching process!</h2>
                <p></p>
            </div>
        </article>
        <article class="feature right">
            <span class="image"><img src="/static/images/pic10.jpg" alt="" /></span>
            <div class="content">
                <h2>真的是贤惠呀!包装得是好!</h2>
                <p></p>
            </div>
        </article>
        <article class="feature left">
            <span class="image"><img src="/static/images/pic11.jpg" alt="" /></span>
            <div class="content">
                <h2>Embedded 加油!</h2>
                <p></p>
            </div>
        </article>
        <article class="feature right">
            <span class="image"><img src="/static/images/pic12.jpg" alt="" /></span>
            <div class="content">
                <h2>和Recruiter聊天什么的都会顺利的!</h2>
                <p></p>
            </div>
        </article>
        <article class="feature left">
            <span class="image"><img src="/static/images/pic13.jpg" alt="" /></span>
            <div class="content">
                <h2>Cong!</h2>
                <p></p>
            </div>
        </article>
        <article class="feature right">
            <span class="image"><img src="/static/images/pic14.jpg" alt="" /></span>
            <div class="content">
                <h2>一路顺风也好逆风也好反正一路顺利到北京!</h2>
                <p></p>
            </div>
        </article>
        <article class="feature left">
            <span class="image"><img src="/static/images/pic15.gif" alt="" /></span>
            <div class="content">
                <h2>据说国内是上不了AWS的</h2>
                <p></p>
            </div>
        </article>
        <article class="feature right">
            <span class="image"><img src="/static/images/pic16.gif" alt="" /></span>
            <div class="content">
                <h2>虽说是逆风飞行不过说一路逆风好像不是那么回事所以还是一路顺风地回到匹村来!</h2>
                <p></p>
            </div>
        </article>
        <article class="feature left">
            <span class="image"><img src="/static/images/pic17.jpg" alt="" /></span>
            <div class="content">
                <h2>Happy Birthday!</h2>
                <p></p>
            </div>
        </article>
        <article class="feature right">
            <span class="image"><img src="/static/images/pic18.png" alt="" /></span>
            <div class="content">
                <h2>650考试加油!</h2>
                <p></p>
            </div>
        </article>
        <article class="feature left">
            <span class="image"><img src="/static/images/pic19.png" alt="" /></span>
            <div class="content">
                <h2>ACC(大概是最后的due了)加油!</h2>
                <p></p>
            </div>
        </article>
        <article class="feature right">
            <span class="image"><img src="/static/images/pic20.jpg" alt="" /></span>
            <div class="content">
                <h2>四点半的ACC考试加油!</h2>
                <p></p>
            </div>
        </article>
        <article class="feature left">
            <span class="image"><img src="/static/images/pic21.jpg" alt="" /></span>
            <div class="content">
                <h2>再过几个小时就要考DS了加油学霸君!</h2>
                <p></p>
            </div>
        </article>
        <article class="feature right">
            <span class="image"><img src="/static/images/pic22.jpg" alt="" /></span>
            <div class="content">
                <h2>好像还有个算法考试来着加油!</h2>
                <p></p>
            </div>
        </article>
        <article class="feature left">
            <span class="image"><img src="/static/images/pic23.jpg" alt="" /></span>
            <div class="content">
                <h2>知道飞机是逆风起飞!!去加拿大路上一路顺利!!</h2>
                <p></p>
            </div>
        </article>
        <article class="feature right">
            <span class="image"><img src="/static/images/pic24.jpg" alt="" /></span>
            <div class="content">
                <h2>做咖啡好辛苦</h2>
                <p></p>
            </div>
        </article>
        <article class="feature left">
            <span class="image"><img src="/static/images/pic25.jpg" alt="" /></span>
            <div class="content">
                <h2>好像快final week了加油</h2>
                <p></p>
            </div>
        </article>

    </div>
</section>
{% endblock %}